.mark {
  flex: none;
  background: #fff;
  border-radius: 4px;
  padding: 3px;
  box-sizing: content-box;
}
.original {
  flex: none;
  object-fit: contain;
  background: #fff;
  border-radius: 4px;
  padding: 3px;
  box-sizing: content-box;
}
